---
import Layout from "../layouts/Layout.astro";
import rightAngle from "../images/right-angle.svg";
---

<style>
  article {
    background-color: var(--theme-primary-color);
  }

  .summary > a,
  .day {
    font-family: "Panton Narrow Bold", sans-serif;
  }

  .grid {
    display: grid;
  }

  .dropdown-details {
    top: 80px;
    background-color: var(--theme-light-gray);
    height: fit-content;
    grid-template-rows: 1fr;
  }

  .rotate90deg {
    transform: rotate(90deg);
  }

  @media screen and (min-width: 470px) {
    .dropdown-details {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

<Layout title="Home - Massage Envy East Provider Modalities">
  <main class="ph3 tc">
    <iframe
      class="w-100 vh-100"
      src="https://workflowy.com/s/aaa-providers-live/jVR5P8coErRPZYp1"
      frameborder="0"></iframe>
  </main>
</Layout>
