---
import logo from "../images/ME-East-Hollywood-Logo.svg";
---

<header class="flex justify-between items-center ph3 ph4-ns">
  <a href="/" title="home">
    <img src={logo.src} alt="Massage Envy East Hollywood" width="90" />
  </a>

  <a href="/about/" class="link ttu b">About</a>
</header>

<style>
  header {
    height: 80px;
    background-color: var(--theme-yellow);
  }

  a {
    color: var(--theme-text-color);
    font-family: "Panton Narrow Bold", sans-serif;
  }
</style>
